/* [label react-tabs-component/src/App.css]  */
.tab-list {
     border-bottom: 1px solid #ccc;
     padding-left: 0;
     margin: 0 1px;
   }
   
   .tab-list-item {
     display: inline-block;
     list-style: none;
     margin: 2px 2px;
     padding: 0.5rem 0.75rem;
     width: 98%;
   }
   
   .tab-list-active {
     background-color: white;
     border: solid #ccc;
     border-width: 1px 1px 0 1px;
     background-color: white;
     border-radius: 12px;
     color: black;
     font-weight: 600;
   }
   